
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
} */


header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    color: rgba(0,0,0,.6);
}

.logo {
    letter-spacing: 3px;
    margin-left: 20px;
}

.nav {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.navlink {
    list-style: none;
    margin: 0px 20px;
    
}

.navlink a {
    color: rgba(0,0,0,.6);
    text-decoration: none;
    font-size: 1.2em;
}

.burger {
    font-size: 1.2em;
    display: none;
}

.quote-container {
    background-color: #F4623A;
    height: 100%;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.quote-container a {
    text-decoration: none;
    color: white;
    white-space: nowrap;

}

/* Home page */

.form-control {
    height: 50px !important;
}

.form-container {
    background-color: #4884E8;
    width: 400px;
   
}
form h2 {
    font-weight: 800;
}
.btn-contact {
    background-color: #F4623A;
    color: white;
}

form input {
    border-radius: 0px !important;
}

.home-container {
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 50px), 50% 100%, 0 calc(100% - 50px));
}


.home-container .slide-container .slide {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -1;
}


.home-container .slide-container .slide img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    animation: fadeIn 4s linear;
}


.tradesman-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.blue-bg-color {
    background-color: #0A2D44;
}

.about-tradesman {
    max-width: 400px;
    color: white;
}

.about-tradesman h2 {
    font-weight: 800;
}

.xmr {
    margin-bottom: 200px;
}

.services-card {
    height: 500px;
    width: 300px;

}
.service-img {
    height: 300px;
    width: 100%;
}

.btn-service {
    border-radius: 0px;
    background-color: #F4623A;
    width: 100%;
    color: white;
}

.btn-service:hover {
    color: white;
}

.grey-bg-color {
    background-color:#F6F6F6;
}

.color {
    color: #F4623A;
}

.service-m {
    margin-bottom: 200px;
}

.circle-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.circles {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.circle-container {
    max-width: 200px;
}

.quote-img {
    height: 400px;
    width: 100%;
}

.quote-title {
    /* position: absolute; */
    color: white;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 2;
}

.quote-btn {
    background-color: #4884E8;
    padding: 10px 20px;
    z-index: 2;
    color: white;
    position: absolute;
    top: 400px;
}

.quote-btn:hover {
    background-color: #0A2D44;
    color: white;
}

.orange-overlay {
    position: relative;
}
.orange-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg,rgba(244,99,58,0.85) 0%,rgba(244,99,58,0.85) 100%);
    z-index: 1; 
}
.orange-overlay {
    position: relative;
}
  
 
  
.quote-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: white;
    font-weight: 800;
    text-align: center; /* Center the text horizontally */
}
  
.quote-btn {
    position: absolute;
    top: calc(50% + 100px); /* Position below the title */
    left: 50%;
    transform: translateX(-50%);
    background-color: #4884E8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}
  
  
.quote-title {
    color: white;
    font-weight: 800;
    text-align: center; /* Center the text horizontally */
}
  
  
@keyframes fadeIn {
    0% {
        transform: scale(1.5);
    }
}

.container-fluid .slide-container .slide .content {
    min-height: 100vh;
    width: 100%;
    display: flex;
  
}

.container-fluid .slide-container .slide .content h3 {
    font-size: 40px;
    text-align: start;
    font-weight: 800;
    color: white;
    animation: animate .4s linear .4s backwards;
}
.container-fluid .slide-container .slide .content p {
    max-width: 400px;
    text-align: left;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    animation: animate .4s linear .6s backwards;
}

.container-fluid .slide-container .slide .content a {
    background-color: #F4623A;
    border-radius: 20px;
    width: fit-content;
    text-decoration: none;
    font-weight: 800;
    color: white;
    padding: 8px 25px;
}
.container-fluid .slide-container .slide .content img {
    height: 50px;
    z-index: 9999;
    position: relative;
    animation: none;

}


@keyframes animate {
    0% {
        transform: scale(.5) translateY(-50px);
        opacity: 0;
    }
    
}

.container-fluid .slide-container {
    display: none;
}
.container-fluid .slide-container.active {
    display: block;
}

.logo {
    height: 50px;
    width: 100px;

}

.container-fluid #next, #prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    color: white;
    height: 60px;
    width: 50px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid #next:hover, #prev:hover {
    color: #F4623A;
}

.container-fluid #next {
    right: 0;
}
.container-fluid #prev {
    left: 0;
}

@media screen and (min-width: 679px) {
    .nav {
        display: flex;
        width: auto;
        height: auto;
        position: static; 
        background: none; 
        transition: none; 
    }

    .navlink {
        margin: 0 20px;
    }

    .burger {
        display: none; 
    }
}

@media screen and (max-width: 678px) {

    header {
        padding: 0px 20px;
    }
    .burger {
        display: block;
    }

    .quote-container {
        display: none;
    }
    .nav {
        margin: 0;
        background: #343434;
        position: fixed;
        right: -100%;
        top: 100px; /* Adjust to position under the header */
        width: 50%;
        height: calc(100% - 100px); /* Adjust to fill the remaining viewport space */
        flex-direction: column;
        justify-content: space-around;
        padding: 0;
        transition: all 400ms;
        z-index: 99; /* Ensure it appears below the header */
    }
    .navlink {
        text-align: center;
    }

    .nav-active {
        right: 0;
    }
}


.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
    object-fit: cover;
}

.stars-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px !important;
    width: 100%;
}

.underline {
    text-decoration: underline;
}

.profile {
    display: flex;
    justify-content: space-between;
}

.profile-name {
    font-size: 15px;
    font-weight: 800;
}

.date {
    font-size: 15px;
}

.stars-img {
    height: 100%;
    object-fit: cover;
}

.social-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

.profile-img {
    height: 60px;
    width: 60px;
    object-fit: cover;

}
.comment {
    font-size: 15px;
    margin-top: 10px;
    text-align: left;

}
.card-stars {
    height: 15% !important;
    object-fit: cover;
    width: 30%;
 
}
/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: white;
    padding: 20px;
    height: 200px;
    width: 500px;
    box-shadow: 1px 1px 7px 0px rgba(8, 42, 122, 0.15), 0px 0px 2px 0px rgba(8, 42, 122, 0.05) !important;
}


.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* Footer */

.footer-links {
    text-decoration: none;
    color: lightgrey;
    margin: 10px 0px;
}

.footer-links:hover {
    color: #F4623A;
}

.footer-stars {
    height: 20px;
    width: 100px;
    object-fit: cover;
}

.footer-google {
    height: 20px;
    margin-left: 10px;
    object-fit: cover;
}

.footer-hr {
    border: 1px solid white;
}

.fa-instagram {
    font-size: 20px;
    color: white;
    background-color: #F4623A;
    border-radius: 10px;
    padding: 5px;
}
.fa-facebook {
    font-size: 20px;
    color: white;
    background-color: blue;
    border-radius: 10px;
    padding: 5px;
}
.fa-google-plus-g {
    font-size: 20px;
    color: white;
    background-color: #5c1c0a;
    border-radius: 10px;
    padding: 5px;
}
.fa-linkedin {
    font-size: 20px;
    color: white;
    background-color: rgb(6, 63, 82);
    border-radius: 10px;
    padding: 5px;
}

.links {
    max-width: 100px;
}

.links a {
    text-decoration: none !important;

}

.social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-link {
    flex-basis: calc(50% - 10px);
    margin-bottom: 15px;
}

.social-link a {
    display: block;
    text-align: center;
}
